<div class="grid place-items-center">
  <div class="w-11/12 p-12 bg-white sm:w-8/12 md:w-1/2 lg:w-5/12">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name, class: "block text-grey-darker text-sm font-bold" %>
        <%= f.text_field :name, autocomplete: "name", class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-4" %>
      </div>
      <div class="field">
        <%= f.label :email, class: "block text-grey-darker text-sm font-bold" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-4" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "block text-grey-darker text-sm font-bold" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-4" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "block text-grey-darker text-sm font-bold" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-4" %>
      </div>

      <div class="actions">
        <button type="submit" class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-gray-900 shadow-lg focus:outline-none hover:shadow-none">
          Sign up
        </button>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
